:root{
  --color-accent: oklch(58% 0.08 133);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, calc((100%-100ch)/2));
    padding: 5%;
  }

nav {
  ul {
    display: contents;
  }
  li {
    display: contents;
  }
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
  }
  a.current {
    border-bottom: 0.4em solid oklch(85% 3% 200);
  }
  a.hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: oklch(75% 0.08 133);
  }

  display: flex;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 5%;
  border-bottom: 1px solid oklch(80% 3% 200);
}


.image {
    max-width: 80%;
    height: auto;
    display: block;
}