:root{
  --color-background: canvas;
  --color-text: canvastext;
  --color-accent: oklch(58% 8% 133);
}

html {
  accent-color: var(--color-accent);
  color-scheme: dark;  
}

body {
    font: 100%/1.5 system-ui;
    max-width: 150ch;
    margin-inline: auto;
    padding: 5%;
  }

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  ul {
    display: contents;
  }
  li {
    display: contents;
  }
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
  }
  a.current {
    border-bottom: 0.4em solid var(--border-color);
  }
  a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    ;
  }
  current {
    border-bottom: 0.4em solid var(--border-color);
  }

  display: flex;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 5%;
  border-bottom: 1px solid oklch(80% 3% 200);
  padding-bottom: 0;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

.image {
    max-width: 80%;
    height: auto;
    display: block;
}

