html, body {
    height: 100%; /* Ensure the body takes the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#stats {
    display: flex;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10px;
}

.stats { /* The <dl> element */
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    width: 100%;
}

.stats dt, .stats dd {
    padding: 8px;
}

.stats dt {
    font-weight: bold;
    grid-row: 1;
}

.stats dd {
    grid-row: 2;
    margin: 0;
}

.gridlines {
    opacity: 20%;
}

dl.info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px 15px;
    margin: 0;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
}

dl.info dt {
    font-weight: normal;
    text-align: right;
    margin: 0;
}

dl.info dd {
    margin: 0;
    text-align: left;
}

dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}

.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    display: none; /* Initially hidden */
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
}

circle {
    transition: all 200ms, r calc(var(--r) * 100ms);
    transform-origin: center;
    transform-box: fill-box;
}

@starting-style {
    r: 0;
}
  
circle:hover {
    transform: scale(1.5);
}

@keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
  }
  
.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}

circle.selected {
    fill: #ff6b6b;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; /* Adjust as needed */
    height: 60vh;
}

.files {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.files > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

.files dt {
    grid-column: 1;
    margin-left: 20px; /* Increase left margin of file names */
}

.files dt code {
    display: block;
}

.files dt small {
    display: block;
    margin-top: 0.5em; /* Increase space between file names and line numbers */
    font-size: 0.8em;
    opacity: 0.7;
}

.files dd {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    gap: 0.15em;
    padding-top: 0.2em; /* Reduce padding-top to make space smaller */
    margin-left: 0;
}

.line {
    display: flex;
    width: 0.5em;
    aspect-ratio: 1;
    border-radius: 50%;
}

#filter-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}
#filter-container time {
    margin-left: auto;
}
:global(body) {
    max-width: min(120ch, 80vw);
}
#scrollytelling {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}
#scroll-container, #scroll-container-stats {
    grid-column: 1;
    position: relative;
    width: 95%;
    height: 80vh;
    overflow-y: scroll;
    border: none; /* Hide the border */
    margin-bottom: 50px;
    scrollbar-width: none; /* For Firefox */
}

#scroll-container::-webkit-scrollbar, #scroll-container-stats::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#chart {
    grid-column: 2;
}
#spacer, #spacer-stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none; /* transparent */
    pointer-events: none;
}
#items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.item {
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #eee;
}

#commit-tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the tooltip is above other elements */
    display: none; /* Initially hidden */
    color: black; /* Ensure text color is visible */
    width: 8em;
}

#commit-tooltip dt, #commit-tooltip dd {
    display: inline-flex;
    margin: 0;
    padding: 5px 0;
}

#commit-tooltip dt {
    font-weight: bold;
    text-align: left;
}

#files-n-stats{
    margin-top: 20%;
}

#scroll-container-stats{
    margin-top: 20%;
}